@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main: #3bb77e;
  --text: #253d4e;
  --light-green: #def9ec;
  --heavy-gray: #adadad;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
}

body {
  color: vra(--text);
}

a {
  color: inherit;
  text-decoration: none;
}

label,
button,
a {
  cursor: pointer;
}

/* Set skeleton Loadings animation to all images */
img {
  background: linear-gradient(100deg, var(--bgLighter) 8%, var(--soft) 30%, var(--bgLighter) 33%);
  background-size: 200% 100%;
  animation: 1s shine linear infinite;
  -webkit-animation: 1s shine linear infinite;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

/* Scroll bar styles */
* {
  scrollbar-width: thin;
  scrollbar-color: #a0a0a0 #f0f0f0;
}
