.chats {
  width: 100%;
}

.chats .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15x;
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.chats .header button {
  outline: none;
  border: none;
  background: none;
}

.chats .header button svg {
  font-size: 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.chats .header button:hover svg {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.chats .header .user_info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.chats .header .user_info img {
  width: 35px;
  height: 35px;
  user-select: none;
  object-fit: cover;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  background-size: 200% 100%;
  animation: 1s shine linear infinite;
  -webkit-animation: 1s shine linear infinite;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

.chats .header .user_info span {
  font-size: 14px;
}

.chats .header .user_info:hover span {
  text-decoration: underline;
}

.chats .chats_list {
  overflow-y: auto;
  height: calc(100vh - 112px);
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.chats .chats_list h2 {
  font-size: 16px;
  margin-bottom: 5px;
}

.chats .chats_list .spinner_container,
.chats .chats_list .no_chats_msg {
  width: 100%;
  height: calc(100% - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
